<ion-header>

  <ion-navbar color="spc">
    <ion-title text-center>คำนวณโปรโมชั่น</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="bg-color">

  <ion-card padding-horizontal class="adv-map" *ngFor="let product of appParam.cart; let i = index">

    <ion-card-title no-padding>

      <ion-item no-padding>

        <ion-row>
          <h1 ion-col col-6 no-padding>
            {{ product.productCode }}{{ product.palmProductNamet }}
          </h1>
        </ion-row>

        <button ion-fab item-right color="primary" class="fab-map" (click)="editOrder(product)">
          <ion-icon name="md-create"></ion-icon>
        </button>

        <button ion-fab item-right color="danger" class="fab-map" (click)="removeFormCart(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
        
      </ion-item>

    </ion-card-title>

    <ion-card-content no-padding>

      <ion-row no-padding>
        <ion-item ion-col col-4 no-padding>
          <ion-label>
            บรรจุ {{ product.packingSize }}
          </ion-label>
        </ion-item>
        <ion-item ion-col col-4 no-padding>
          <ion-label>
            จำนวน {{ product.orderB }}/{{ product.orderP }}
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-row no-padding>
        <ion-item ion-col col-4 no-padding>
          <ion-label>
            ราคาหีบ {{ product.unitPrice | number:'1.2-2'}}
          </ion-label>
        </ion-item>
        <ion-item ion-col col-4 no-padding>
          <ion-label>
            ส่วนลด {{product?.discount | number:'1.2-2'}}
          </ion-label>
        </ion-item>
        <ion-item ion-col col-4 no-padding>
          <ion-label>
            ราคาสุทธิ {{product?.totalPrice | number:'1.2-2'}}
          </ion-label>
        </ion-item>
      </ion-row>

      <ion-item ion-row no-padding *ngIf="product.premiumProduct.premiumProductCode">
        <ion-label ion-col col-6 no-padding>
          แถม {{ product.premiumProduct.premiumProductName }}
        </ion-label>
        <ion-label ion-col col-3 no-padding>
          จำนวน {{ product.premiumProduct.premiumProductQty }}
        </ion-label>
        <ion-label ion-col col-3 no-padding>
          ชิ้น
        </ion-label>
      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>



<ion-footer no-border no-padding>

  <ion-item-group no-padding>
    <ion-item-divider ion-row no-padding color="secondary-text-color">
      <ion-label ion-col col-12 text-center> รวม {{ total | number: '1.2-2' }} บาท </ion-label>
      <!--<ion-label ion-col col-6 text-center> รวม </ion-label>
      <ion-note ion-col col-6 item-right> {{ total | number: '1.2-2' }} บาท </ion-note>-->
    </ion-item-divider>
  </ion-item-group>

  <button ion-button block no-padding (click)="checkPromotionC4()" [disabled]="disableCalBtn">
    <!-- <button ion-button block no-padding (click)="checkPromotionC4()" [disabled]="false"> -->
    คำนวณโปรโมชั่น
  </button>

  <button ion-button block no-padding color="secondary" [disabled]="disableNextPageBtn" (click)="pushConfirmOrderPage()">
    <!-- <button ion-button block no-padding color="secondary" [disabled]="false" (click)="pushConfirmOrderPage()"> -->
    ตรวจสอบการสั่งซื้อ
  </button>

</ion-footer>