page-trip-sales {
    .scroll {
        height: 100%
    }
    
    #map {
        width: 100%;
        height: 50%;
    }

    #tripList {
        width: 100%;
        height: 50%;
    }

    .setPinColor {
        color: red;
    }
}
