// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-content.bg-color {
    background-color: #f4f4f7;
}

// @font-face {
// 	font-family: kanit;
// 	src: url('../assets/fonts/kanit.woff2') format('woff2');
// }

.toolbar {
	font-family: kanit;
}

ion-label {
	font-family: kanit;
	font-size: 18px;
	color: dark;
	margin-bottom: 0px;
	/*margin-top: 4px;*/
}

ion-button {
	font-family: kanit; 
	font-size: 20px;
}

.error-color {
	// color: #cc0000;
	// color: #FF0000;
	color: #ff0033;
	// color: #f53d3d;
}